In [33]:
import pandas as pd

In [67]:
df=pd.read_csv('F:/DS/craigslist-used car raw data/vehicles.csv')

In [68]:
df.shape

(509577, 25)

In [69]:
df.head(5)

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,drive,size,type,paint_color,image_url,description,county,state,lat,long
0,7034441763,https://saltlakecity.craigslist.org/cto/d/salt...,salt lake city,https://saltlakecity.craigslist.org,17899,2012.0,volkswagen,golf r,excellent,4 cylinders,...,4wd,compact,hatchback,black,https://images.craigslist.org/00G0G_fTLDWM5Xyv...,PRICE REDUCED! -Garage kept -Low Miles (63K)...,NaN,ut,40.7372,-111.858
1,7034440610,https://saltlakecity.craigslist.org/ctd/d/sand...,salt lake city,https://saltlakecity.craigslist.org,0,2016.0,ford,f-150,excellent,NaN,...,4wd,NaN,NaN,NaN,https://images.craigslist.org/00v0v_7Cu0buIofU...,Drive it home today. Call (Or Text) us now !!C...,NaN,ut,40.5881,-111.884
2,7034440588,https://saltlakecity.craigslist.org/ctd/d/sand...,salt lake city,https://saltlakecity.craigslist.org,46463,2015.0,gmc,sierra 1500,excellent,NaN,...,4wd,NaN,NaN,white,https://images.craigslist.org/01515_lPvJ9bfbdY...,Drive it home today. Call (Or Text) us now !!C...,NaN,ut,40.5881,-111.884
3,7034440546,https://saltlakecity.craigslist.org/ctd/d/sand...,salt lake city,https://saltlakecity.craigslist.org,0,2016.0,ford,f-150,excellent,NaN,...,4wd,NaN,NaN,NaN,https://images.craigslist.org/00T0T_6Rjfp3NS4O...,Drive it home today. Call (Or Text) us now !!C...,NaN,ut,40.5881,-111.884
4,7034406932,https://saltlakecity.craigslist.org/ctd/d/evan...,salt lake city,https://saltlakecity.craigslist.org,49999,2018.0,ford,f-450,NaN,NaN,...,4wd,NaN,pickup,white,https://images.craigslist.org/00W0W_8yIUwRBXXd...,2018 Ford F-350 F350 F 350 SD Lariat Crew Cab ...,NaN,ut,40.3744,-104.694

In [70]:
#drop the columns I don't need
drop_columns=['id','url','region','region_url','cylinders','type','image_url','county','state','lat','long','vin','description','paint_color','size']

In [71]:
df=df.drop(columns=drop_columns)

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 509577 entries, 0 to 509576
Data columns (total 10 columns):
price           509577 non-null int64
year            508050 non-null float64
manufacturer    486813 non-null object
model           501588 non-null object
condition       277643 non-null object
fuel            505592 non-null object
odometer        417253 non-null float64
title_status    506515 non-null object
transmission    505858 non-null object
drive           365434 non-null object
dtypes: float64(2), int64(1), object(7)
memory usage: 38.9+ MB

In [73]:
df.head(5)

,price,year,manufacturer,model,condition,fuel,odometer,title_status,transmission,drive
0,17899,2012.0,volkswagen,golf r,excellent,gas,63500.0,clean,manual,4wd
1,0,2016.0,ford,f-150,excellent,gas,10.0,clean,automatic,4wd
2,46463,2015.0,gmc,sierra 1500,excellent,gas,7554.0,clean,automatic,4wd
3,0,2016.0,ford,f-150,excellent,gas,10.0,clean,automatic,4wd
4,49999,2018.0,ford,f-450,NaN,diesel,70150.0,clean,automatic,4wd